// sass --watch scss/style.scss:css/style.css

@import "base/_reset";
@import "base/_fonts";
@import url('https://fonts.googleapis.com/css?family=Exo+2:300,400,700');
@import "utils/_mixins.scss";
@import "utils/_variables.scss";

// прозрачный шрифт с обводкой
// h1{
//     font-size:100px;
//   -webkit-text-stroke: 1px white;
//   -webkit-text-fill-color: transparent;
//   }
body{
    font-family: $base-font-family;
    background: $base-bg;
    @include font($base-font-size, $text-color);
    line-height: $base-line-height;
}
hr{
    height: 1px;
    background: $border-color;
}
.opasity{
    opacity: 0.5;
}
header{
    color: white;
    a:hover{
        @extend .opasity;
    }
    .preheader{
        height: 50px;
        .preheader_icons{
            a{
                padding: 7px;
            }        
        }
        .preheader_contacts{
            .lang-flat{
                width: 15px; height: 10px;
            }
            a{
                padding: 3px;
            }
        }
    }
    nav{
        .text-brand{
            @include font(9px, $text-color-blue);
        }
        .text-brand :last-child{
            color: rgb(244, 125, 66);
        }
        ul{
            @include font(12px, white);
            list-style: none;
            a{
                height: 100%;
                border-bottom: solid transparent 2px ;
                color: white !important;
                margin-left: 40px;
            }
            a:hover{
                border-bottom: solid white 2px;
                opacity: 1;
            }
            .dropdown-menu{
                background: black;
                a:hover{
                    border-bottom: none;
                    color: white !important;
                    background: gray;
                }
                .dropdown-item{
                    @include font(12px, white);  
                    line-height: $line-height-h1;
                    margin-left: 0;
                }
            }
        }
    }
    .fa-times{
        display: none;
    }
}
.hero{
    position: relative;
    height: 100vh;
    min-height: 756px;
    background:      linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.3)
      ),url(../images/hero/bg-hero.jpg) no-repeat center;
    background-size: cover;
    main{
        .title{
            @include font($font-size-h1, white);
            font-weight: bold;
            line-height: $line-height-h1;
            padding: 30px;
        }
        .content{
            @include font($font-size-h4, white);
            position: relative;
            text-align: center;
            padding: 70px;
            border-bottom: solid $border-color 1px;
            border-top: solid $border-color 1px;
            .borderWrap{
                position: absolute;
                left: 20px; top: -20px;
                height: 120%;width: 90%;
                border-left: solid $border-color 1px;
                border-right: solid $border-color 1px;
            }
        }
        button{
            padding: 10px 15px;
            background: none;
            border: solid $border-color 1px;
            margin: 50px;
            float: right;
            div{
                @include font(12px, white);
                margin-right: 5px;
                display: none;
            }
            @include transition($default-transition);
        }
        button:hover{
            border: solid white 1px;
            margin-right: -50px;
            div{
                display: block;
            }
        }
    }
    .hero_scroll{
        position: absolute;
        bottom: 10px; left: 50%;
    }
}

.service{
    h1{
        @include font($font-size-h1, $text-color);
        line-height: $line-height-h1;
        font-weight: bold;
    }
    h4{
        @include font($font-size-h4, $text-color);
        line-height: $line-height-h4;
        font-weight: bold;
    }
    .block{
        border: solid black 1px;
        .title{
            .decor{
                height: 3px;width: 30px;
                background: blue;
            }
        }
        .block_img{
            height: 35%;
        }
        p, .more{
            margin: 30px;
        }
    }
}
@media (max-width: 768px) {
}

@media (max-width: 320px) {
}