/* reset */
$min-width: 320px; 
$max-width: 1366px; 
$base-bg: white; 
$base-font-size: 14px; 
$base-line-height: 18px; 
$base-font-family: 'PTAstraSans', sans-serif; 
$custom-font-family: 'Exo 2', sans-serif; 
$link-color: #100da9;
$default-transition:all 0.2s linear;

/* main variables */

//text, titles
$text-color: black;
$title-color: black;
$text-color-blue: rgb(1,77,182);

$font-size-h1: 30px;
$line-height-h1: 36px;
$font-size-h2: 24px;
$line-height-h2: 29px;
$font-size-h4: 18px;
$line-height-h4: 22px;
$font-size-h5: 16px;
$line-height-h5: 21px;